:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.i-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  vertical-align: middle;
}

svg:focus {
  outline: none;
}
