:root {
  --top-bar-height: 4rem;
  --el-color-primary: #a8cc00;
  --el-color-primary-light-3: rgb(194.1, 219.3, 76.5);
  --el-color-primary-light-5: rgb(211.5, 229.5, 127.5);
  --el-color-primary-light-7: rgb(228.9, 239.7, 178.5);
  --el-color-primary-light-8: rgb(237.6, 244.8, 204);
  --el-color-primary-light-9: rgb(246.3, 249.9, 229.5);
  --el-color-primary-dark-2: rgb(136.8, 180.6, 40.4);
}
